<!-- <p-card class="shadow-3 surface-100 border-round-xl p-4"> -->
  <ng-template pTemplate="header">

  </ng-template>
    <div class="flex align-items-center gap-2">
      <i class="pi pi-credit-card text-xl "></i>
      <span class="text-xl font-semibold">Fatura Bilgileri</span>
    </div>

<div>
    <form [formGroup]="form" class="grid formgrid p-fluid gap-4">

  <!-- Satır 1 -->
  <div class="col-12 md:col-4">
    <label for="invoiceDate" class="block font-medium mb-2">Fatura Tarihi</label>
    <p-calendar id="invoiceDate" formControlName="invoiceDate" [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" class="w-full" />
  </div>

  <!-- <div class="col-12 md:col-4">
    <label for="warehouse" class="block font-medium mb-2">Depo</label>
    <p-dropdown id="warehouse" formControlName="warehouse" [options]="warehouses" placeholder="Depo Seçin" class="w-full" />
  </div> -->

  <div class="col-12 md:col-4">
    <label for="currency" class="block font-medium mb-2">Para Birimi</label>
    <p-dropdown id="currency" formControlName="currency" [options]="currencies" placeholder="Para Birimi Seçin" class="w-full" />
  </div>

  <!-- Satır 2 -->
  <div class="col-12 md:col-4">
    <label for="invoiceType" class="block font-medium mb-2">Fatura Tipi</label>
    <p-dropdown id="invoiceType" formControlName="invoiceType" [options]="invoiceTypes" placeholder="Fatura Tipi Seçin" class="w-full" />
  </div>

  <div class="col-12 md:col-4">
    <label for="scenario" class="block font-medium mb-2">Fatura Senaryosu</label>
    <p-dropdown id="scenario" formControlName="scenario" [options]="scnenarioTypes" placeholder="Senaryo Seçin" class="w-full" />
  </div>

  <div class="col-12 md:col-4">
    <label for="archiveType" class="block font-medium mb-2">E-Arşiv Gönderim Tipi</label>
    <p-dropdown id="archiveType" formControlName="archiveType" [options]="archiveTypes" placeholder="Gönderim Tipi Seçin" class="w-full" />
  </div>

  <!-- Satır 3 -->
  <div class="col-12 md:col-4">
    <label for="serial" class="block font-medium mb-2">Seri</label>
    <p-dropdown id="serial" formControlName="serial" [options]="serials" placeholder="Seri Seçin" class="w-full" />
  </div>

  <!-- Not alanı -->
  <div class="col-12">
    <label for="note" class="block font-medium mb-2">Fatura Notu</label>
    <textarea id="note" pInputTextarea formControlName="note" rows="3" class="w-full border-round"></textarea>
  </div>
</form>
    </div>




<!-- </p-card> -->
