<button pButton type="button" icon="pi pi-arrow-left" label="Geri Dön" class="p-button-text mb-3" (click)="goBack()" title="Geri Dön" style="margin-left:0;"></button>
<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">{{ form.get('Id')?.value == 0 ? 'Cari Oluştur' : 'Cari Güncelle' }}</span>
    <div class="grid">
        <div class="col-12 lg:col-12">
            <form [formGroup]="form" (ngSubmit)="save()">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-6">
                        <label for="name" class="font-medium text-900">Ad <span class="text-danger">*</span></label>
                        <input formControlName="Name" id="name" type="text" pInputText />
                        <div *ngIf="(submitted || form.get('Name')?.touched) && form.get('Name')?.invalid" class="text-danger text-sm mt-1 font-bold">
                            Ad zorunludur.
                        </div>
                    </div>
                    <div class="field mb-4 col-6">
                        <label for="surname" class="font-medium text-900">Soyad <span class="text-danger">*</span></label>
                        <input formControlName="Surname" id="surname" type="text" pInputText />
                        <div *ngIf="(submitted || form.get('Surname')?.touched) && form.get('Surname')?.invalid" class="text-danger text-sm mt-1 font-bold">
                            Soyad zorunludur.
                        </div>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="vkn" class="font-medium text-900">Vkn / Tckn <span class="text-danger">*</span></label>
                        <input formControlName="VknTckn" id="vkn" type="text" maxlength="11" pInputText pattern="^[0-9]*$" inputmode="numeric" numbersOnly />
                        <div *ngIf="(submitted || form.get('VknTckn')?.touched) && form.get('VknTckn')?.invalid" class="text-danger text-sm mt-1 font-bold">
                            <span *ngIf="form.get('VknTckn')?.errors?.['required']">VKN/TCKN zorunludur.</span>
                            <span *ngIf="form.get('VknTckn')?.errors?.['minlength']">En az 10 karakter olmalı.</span>
                            <span *ngIf="form.get('VknTckn')?.errors?.['maxlength']">En fazla 11 karakter olmalı.</span>
                        </div>
                    </div>
                    <div class="field mb-4 col-6">
                        <label for="email" class="font-medium text-900">Email <span class="text-danger">*</span></label>
                        <input formControlName="Email" id="email" type="email" pInputText />
                        <div *ngIf="(submitted || form.get('Email')?.touched) && form.get('Email')?.invalid" class="text-danger text-sm mt-1 font-bold">
                            <span *ngIf="form.get('Email')?.errors?.['required']">Email zorunludur.</span>
                            <span *ngIf="form.get('Email')?.errors?.['email']">Geçerli bir email giriniz.</span>
                        </div>
                    </div>

                    <div class="field mb-4 col-6">
                        <label for="telefon" class="font-medium text-900">Telefon <span class="text-danger">*</span></label>
                        <p-inputMask id="telefon" formControlName="Phone" mask="999-999-99-99" placeholder="999-999-99-99"></p-inputMask>
                        <div *ngIf="(submitted || form.get('Phone')?.touched) && form.get('Phone')?.invalid" class="text-danger text-sm mt-1 font-bold">
                            Telefon zorunludur.
                        </div>
                    </div>
                  
                    <div class="field mb-4 col-12 md:col-6">
                        <!-- {{countryCityModel.Countries | json}} -->
                        <label for="country" class="font-medium text-900">Ülke <span class="text-danger">*</span></label>
                        <p-dropdown formControlName="Country" inputId="country" [options]="countryCityModel?.Countries" optionLabel="Text" optionValue="Value" [filter]="true" filterBy="Text" [showClear]="true" placeholder="Ülke Seçiniz" (onChange)="countryChange($event)"></p-dropdown>
                        <div *ngIf="(submitted || form.get('Country')?.touched) && form.get('Country')?.invalid" class="text-danger text-sm mt-1 font-bold">
                            Ülke zorunludur.
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="city" class="font-medium text-900">Şehir <span class="text-danger">*</span></label>
                        <input formControlName="City" id="city" type="text" pInputText />
                        <div *ngIf="(submitted || form.get('City')?.touched) && form.get('City')?.invalid" class="text-danger text-sm mt-1 font-bold">
                            Şehir zorunludur.
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="district" class="font-medium text-900">İlçe <span class="text-danger">*</span></label>
                        <input formControlName="District" id="district" type="text" pInputText />
                        <div *ngIf="(submitted || form.get('District')?.touched) && form.get('District')?.invalid" class="text-danger text-sm mt-1 font-bold">
                            İlçe zorunludur.
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="buildingName" class="font-medium text-900"
                            >Bina Adı</label
                        >
                        <input formControlName="BuildingName" id="buildingName" type="text" pInputText />
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="buildingNumber" class="font-medium text-900"
                            >Bina Numarası</label
                        >
                        <input formControlName="BuildingNumber" id="buildingNumber" type="text" pInputText />
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="floorNumber" class="font-medium text-900"
                            >Kat Numarası</label
                        >
                        <input formControlName="FloorNumber" id="floorNumber" type="text" pInputText />
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="doorNumber" class="font-medium text-900"
                            >Kapı Numarası</label
                        >
                        <input formControlName="DoorNumber" id="doorNumber" type="text" pInputText />
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="postalCode" class="font-medium text-900"
                            >Posta Kodu</label
                        >
                        <input formControlName="PostalCode" id="postalCode" type="text" pInputText />
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="fullAddress" class="font-medium text-900"
                            >Açık Adres</label
                        >
                        <input formControlName="FullAddress" id="fullAddress" type="text" pInputText />
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="addressDescription" class="font-medium text-900"
                            >Adres Açıklaması</label
                        >
                        <input formControlName="AddressDescription" id="addressDescription" type="text" pInputText />
                    </div>
                    <!-- <div class="field mb-4 col-12">
                        <label for="website" class="font-medium text-900"
                            >Website</label
                        >
                        <p-inputGroup>
                            <p-inputGroupAddon>www</p-inputGroupAddon>
                            <input id="website" type="text" pInputText />
                        </p-inputGroup>
                    </div> -->
                    <div class="col-12 text-right">
                        <button
                            pButton
                            pRipple
                            label="Kaydet"
                            class="w-auto mt-3"
                            type="submit"
                            title="Kaydet"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
