<div class="h-screen flex w-full surface-ground">
    <div
        class="flex flex-1 flex-column surface-ground align-items-center justify-content-center"
    >
        <div class="w-11 sm:w-30rem">
            <div class="flex flex-column">
                <div
                    style="height: 56px; width: 56px"
                    class="bg-primary-50 border-circle flex align-items-center justify-content-center"
                >
                    <i class="pi pi-sign-in text-primary text-4xl"></i>
                </div>
                <div class="mt-4">
                    <h1 class="m-0 text-primary font-semibold text-4xl">
                        Hoşgeldiniz
                    </h1>
                    <span class="block text-700 mt-2"
                        >Sisteme giriş yapmak için lütfen bilgilerinizi giriniz</span
                    >
                </div>
            </div>
            <form [formGroup]="signInForm" #signInNgForm="ngForm">
                      <div class="flex flex-column gap-3 mt-6">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>
                    <input type="text" pInputText placeholder="Email" [formControlName]="'UserName'"/>
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-key"></i>
                    </p-inputGroupAddon>
                    <input type="password" pInputText placeholder="Şifre" [formControlName]="'Password'" />
                </p-inputGroup>
                <div>
                    <button
                        pButton
                        pRipple
                        class="w-full"
                        label="GİRİŞ YAP"
                        
                       (click)="signInConfirmCode()"
                    ></button>
                </div>
                <div>
                    <button
                        pButton
                        pRipple
                        class="w-full p-button-text text-primary-500"
                        label="ŞİFREMİ UNUTTUM"
                    ></button>
                </div>
            </div>
            </form>
      
        </div>
    </div>
    <div
        [style.background]="
            'url(assets/layout/images/pages/accessDenied-bg.jpg)'
        "
        class="hidden lg:flex flex-1 align-items-center justify-content-center bg-cover"
    >
        <img src="assets/layout/images/vector_logo.png" alt="" />
    </div>
</div>

<app-config [minimal]="true"></app-config>
