<div class="card surface-card p-4">
  <table class="w-full">
    <thead>
      <tr>
        <th class="text-left p-3">Controller Name</th>
        <th class="text-left p-3">Active Actions</th>
        <th class="text-left p-3">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let controller of controllers">
        <td class="p-3 font-semibold">{{ controller.ControllerName }}</td>
        <td class="p-3">
          <ng-container *ngIf="hasActiveActions(controller); else noAuth">
            <ng-container *ngFor="let action of controller.Actions">
              <ng-container *ngIf="action.Active">
                <span class="px-3 py-1 mr-2 border-round-xl text-sm font-medium surface-section" style="display:inline-block; min-width:60px; text-align:center;">{{ action.ActionName }}</span>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #noAuth>
            <span class="text-sm italic opacity-70">Does not have any authority</span>
          </ng-template>
        </td>
        <td class="p-3">
          <button pButton type="button" icon="pi pi-pencil" label="Edit" class="p-button-sm p-button-rounded p-button-outlined" (click)="editController(controller)" title="Edit"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
